$transition-hero--logo: opacity 1s ease-in-out;
$transition-hero--title: opacity 1s ease-in-out;
$transition-hero--subtitle: opacity 1s ease-in-out;
$transition-border: border-color 0.2s ease-in-out;
