*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @extend %font-smoothing;

  background: $color-white;
  color: $color-black;
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  line-height: $line-height-base;
  min-height: 100%;
  overflow-x: hidden;

  &.scrollable {
    overflow-y: auto;
  }
}

h1 {
  font-family: $font-family-display;
}

h1 {
  font-size: rem(16px);
  letter-spacing: 0.1em;
  margin-bottom: $line-height-base;
  text-transform: uppercase;

  @include bp(800) {
    font-size: rem(21px);
    line-height: $line-height-base * 1.5;
    margin-bottom: $line-height-base * 1.5;
  }

  .hero & {
    span {
      display: block;
      color: $color-grey;
      letter-spacing: 0.095em;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}
